<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://advnewportal.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>advnewportal.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>advNewPortal</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$advNewPortal</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Portal.Models.CaseModelContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Portal.Models.CaseModelContext, Portal" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Portal.Models.IncidentContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Portal.Models.IncidentContext, Portal" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Portal.Models.LoginModelContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Portal.Models.LoginModelContext, Portal" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Portal.Models.ResetContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Portal.Models.ResetContext, Portal" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Portal.Models.CaseModelContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Portal.Models.IncidentContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Portal.Models.LoginModelContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Portal.Models.ResetContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Portal.Models.CaseModelContext" />
    <_ConnectionStringsToInsert Include="Portal.Models.IncidentContext" />
    <_ConnectionStringsToInsert Include="Portal.Models.LoginModelContext" />
    <_ConnectionStringsToInsert Include="Portal.Models.ResetContext" />
  </ItemGroup>
</Project>