
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>REjestracja</h2>

<div class="row">

    <div class="col-md-12 text-center">
        <a href="/Register/DoRegistration">Rejestruj</a>
    </div>

</div>

