body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

/*p{
    font-family: Tahoma, Geneva, sans-serif, Impact;
}*/

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url("http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2") format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2") format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2") format("woff2");
}

p{
    color: #be4846 !important;
}

h1, h2, h3{
    color: #be4846 !important;
}

a:focus {
    outline: thin dotted;
    text-decoration: none;
    color: silver !important;
}

a:active, a:hover {
    outline: 0 none;
    text-decoration: none;
    color: #9a0707 !important;
}

a {
    text-decoration: none;
    font-size: 1.2em;
    color: white !important;
}

a {
    text-decoration: none;
    font-size: 1.2em;
    color: #be4846 !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.full-width {
    width: 100%;
    position: absolute;
}


#adv-navbar {
    background: white;
    background-color: white;
    
    border: none !important;
}

.adv-active {
    border-top: 4px solid #700909;
    background: none !important;
}

#nav-wrapper {
    background: white;
    margin-top: 20px;
    /*border-top: 1px solid #efe8e8;*/
}

.adv-li-nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.adv-own {
    font-weight: 500;
    font-size: 16px;
}

ul li {
    list-style-type: none;
}

li a:hover {
    text-decoration: none;
}

i {
    color: #808080;
}

.rn-margin-top-20 {
    margin-top: 20px;
}

.rn-margin-top-100 {
    margin-top: 100px;
}

.hr-gradient {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.btn-info {
    background-color: #be4846 !important;
    -moz-box-shadow: 3px 3px 4px #444;
	-webkit-box-shadow: 3px 3px 4px #444;
	box-shadow: 3px 3px 4px #444;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
}

a:hover.btn-info {
    color: silver !important;
}

a:active.btn-info {
    color:silver !important;
}

a.btn-info {
    color:white !important;
}


i {
    margin-right: 10px;
}

ul.tree {
    font-size: 12px;
}

li.switch a {
    color: #700909;
}

.AD {
    font-weight: 900;
    color: #700909;
}

.SD {
    font-weight: 800;
    color: #700909;
}

.CD {
    font-weight: 700;
    color: #700909;
}

.CO {
    font-weight: 500;
    color: #700909;
}

#adv-footer {
    
    margin-bottom: -10px;
    background-color: white;
    min-height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#adv-footer p{
    color: black !important;
}

#adv-footer h2{
    color: #666666 !important;
}


.form-control:focus {
    border-color: #be4846 !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: -webkit-focus-ring-color auto 5px;
}

.shadowed{

    moz-box-shadow: 3px 3px 4px #eee7e7;
	-webkit-box-shadow: 3px 3px 4px #eee7e7;
	box-shadow: 3px 3px 4px #eee7e7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#eee7e7')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#eee7e7');
}

.text-shadowed{
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
}

.text-shadowed-dark{
    text-shadow: 0px 2px 2px #808080;
}


input, textarea{
    background-color:#666;
    color: #9a0707;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #9a0707;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #9a0707;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #9a0707;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #9a0707;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #9a0707;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #9a0707;
}

.well{
   background-color: #f8adad !important;
}

table{
    moz-box-shadow: 3px 3px 4px #eee7e7;
	-webkit-box-shadow: 3px 3px 4px #eee7e7;
	box-shadow: 3px 3px 4px #eee7e7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#eee7e7')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#eee7e7');
    border: 2px solid #be4846 !important;
}

thead{
    background: #be4846;
    color: white;
    font-weight: 600;
}

.std-margin-top{
    margin-top: 20px;
}

.std-margin-bottom{
    margin-bottom: 20px;
}

.super-margin-top{
    margin-top: 150px;
}

.super-margin-bottom{
    margin-bottom: 150px;
}

.table-responsive-force {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #DDD;
    -webkit-overflow-scrolling: touch;
}

.huge-text{
    font-weight: 900;
    color: #ded9d9 !important;
    font-size: 65px;
    letter-spacing: 8px;
    text-align: center;
    margin-top: 30px;
}


