
@{
    ViewBag.Title = "Wystąpił błąd.";
    Exception exc = Server.GetLastError();
    Server.ClearError();
}


<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        <h3>Wystąpił błąd aplikacji</h3>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        <p>
            Proszę spróbować póżniej
        </p>
    </div>
</div>



