
@{
    Layout = "~/Views/Shared/_LayoutCase.cshtml";
}

@{
    ViewBag.Title = "Widok sieci";
}

<div class="row">
    @*<div class="col-md-3">
        @Html.ActionLink("Sprawy", "Index", "PortalNet")
    </div>

    <div class="col-md-3">
        @Html.ActionLink("Rozliczenia sieci", "AdversumSettlement", "PortalNet")
    </div>*@

   

</div>



