@{
    ViewBag.Title = "Home Page";
}

<br/>

<div class="row">

    <div class="col-md-6 text-center">
        <a class="btn btn-info" href="/Login">
            <div class="row">
                <div class="col-md-12" style="padding: 25%;">
                    <h1>
                        Logowanie
                    </h1>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-6 text-center">
        <a class="btn btn-info" href="/Reset">
            <div class="row">
                <div class="col-md-12" style="padding: 25%;">
                    <h1>
                        Reset hasła
                    </h1>
                </div>
            </div>
        </a>
    </div>

</div>