<appSettings>
  <add key="password" value="AdvCRM2013!"/>
  <add key="userName" value="SupportExisto@adversum.onmicrosoft.com"/>
  <add key="organizationUri" value="https://adversum.api.crm4.dynamics.com/XRMServices/2011/Organization.svc"/>
  <add key="email_password" value=""/>
  <add key="email" value=""/>
  <add key="email_username" value=""/>
  <add key="email_host" value=""/>
  <add key="email_smtp_port" value="25"/>
  <add key="appURL" value="localhost:60774"/>
</appSettings>